{{nav-bar}}

<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<a href='/tigers'>this goes to tigers</a>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
<h1> filer </h1>
